<table class="border--round table--alternate-row">
  <thead>
    <tr>
      <th>Day Rating</th>
      <th>Day</th>
    </tr>
  </thead>
  <tbody>
    <% @day_ratings.each do |rating| %>
      <tr>
        <td><%= rating.value %></td>
        <td><%= rating.created_at.strftime("%d.%m.%Y at %H:%M") %></td>
      </tr>
    <% end %>


    <%= line_chart @day_ratings.pluck(:created_at, :value) %>
  </tbody>
</table>
