<%= line_chart @moods.pluck(:created_at, :value) %>

<table class="border--round table--alternate-row">
  <thead>
    <tr>
      <th>Mood</th>
      <th>Day</th>
    </tr>
  </thead>
  <tbody>
    <% @moods.each do |mood| %>
      <tr>
        <td><%= mood.value %></td>
        <td><%= mood.created_at.strftime("%d.%m.%Y at %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.pages > 1 %>
  <div class="pagination">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
<% end %>
