<table class="border--round table--alternate-row">
  <thead>
    <tr>
      <th style="width: 80%">Reflection</th>
      <th style="width: 20%">Day</th>
    </tr>
  </thead>
  <tbody>
    <% @reflections.each do |reflection| %>
      <tr>
        <td><div class="trix-content"> <%= reflection.content %></div></td>
        <td><%= reflection.created_at.strftime("%d.%m.%Y at %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.pages > 1 %>
  <div class="pagination-container">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
<% end %>
