<div class="container">
  <h1 class="text-center mb-4">My Reflections</h1>

  <div class="row">
    <% @reflections.each do |reflection| %>
      <div class="col-md-12 mb-5">
        <div class="card shadow border bg-light">
          <div class="card-body p-4">
            <div class="mb-4">
              <% if reflection.body_json.present? %>
                <%= render_editorjs_blocks(reflection.body_json) %>
              <% else %>
                <div class="trix-content">
                  <%= reflection.content %>
                </div>
              <% end %>
            </div>
            <div class="text-muted mt-4 text-right border-top pt-3">
              <small><%= reflection.created_at.strftime("%d.%m.%Y at %H:%M") %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @pagy.pages > 1 %>
    <div class="pagination-container d-flex justify-content-center mt-4">
      <%= pagy_nav(@pagy).html_safe %>
    </div>
  <% end %>
</div>
