<%= line_chart @energy_levels.pluck(:created_at, :value) %>

<table class="border--round table--alternate-row">
  <thead>
    <tr>
      <th>Energy Level</th>
      <th>Day</th>
    </tr>
  </thead>
  <tbody>
    <% @energy_levels.each do |level| %>
      <tr>
        <td><%= level.value %></td>
        <td><%= level.created_at.strftime("%d.%m.%Y at %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.pages > 1 %>
  <div class="pagination">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
<% end %>
