$font:        "Open Sans", "Helvetica Neue", Tahoma, Arial, Helvetica, sans-serif;
$font-inputs:     $font;


// colors
$bg-color:      #fff;
$gray-bg:       #F1F1F1;
$text-color:    #000;

$gmap-bg:       #e5e3df;

$black:       #323232;
$green:       #A0D38A;

$gray-text:     #ADADAD;
$gray-text-dark:  #939393;
$gray-border:     #D8D8D8;

$easeOutCubic:    cubic-bezier(0.215, 0.61, 0.355, 1);

.working-task-timer {
  input, select, button, textarea{
    font: 400 1em/1.1em $font-inputs;
    box-sizing: border-box;
  }

  button::-moz-focus-inner, input::-moz-focus-inner{
    border: 0;
    padding: 0;
  }
  .button{
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 2.5em;
    color: #fff;
    background-color: $green;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, darken($green, 20%), darken($green, 20%));
    background-size: 0 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: background-size 0.2s $easeOutCubic;
    &:hover{
      background-size: 100% 100%;
    }
  }

  .form{
    margin-bottom: 2em;
    form{
      white-space: nowrap;
      position: relative;
      input{
        margin-top: 0 !important;
        display: inline-block;
        padding: 0.5em 1em;
        padding-right: 230px;
        width: 100%;
        border: 1px solid $gray-border;
        border-radius: 2px;
      }
      .button-holder{
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }
      .timer{
        display: inline-block;
        padding: 0.4em 1em;
        line-height: normal;
        color: $gray-text-dark;
      }
      button{
        height: 100%;
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .task-list{
    h4{
      margin-bottom: 0.5em;
    }
    .result-table{
      border-collapse: collapse;
      margin-bottom: 2em;
      font-size: 0.9em;
      width: 100%;
      tr{
        border: 1px solid $gray-border;
        td{
          padding: 1em;
          vertical-align: top;
        }
        .name{
          white-space: nowrap;
        }
        .time{
          white-space: nowrap;
          color: $gray-text-dark;
        }
        .desc{
          color: $gray-text-dark;
        }
      }
    }
  }
}
