<table class="border--round table--alternate-row">
  <thead>
    <tr>
      <th style="width: 80%">Biggest Challenge</th>
      <th style="width: 20%">Day</th>
    </tr>
  </thead>
  <tbody>
    <% @biggest_challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.content %></td>
        <td><%= challenge.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

