<table class="border--round table--alternate-row">
  <thead>
    <tr>
      <th style="width: 80%">Biggest Challenge</th>
      <th style="width: 20%">Day</th>
    </tr>
  </thead>
  <tbody>
    <% @biggest_challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.content.html_safe %></td>
        <td><%= challenge.created_at.strftime("%d.%m.%Y at %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.pages > 1 %>
  <div class="pagination">
    <%= pagy_nav(@pagy).html_safe %>
  </div>
<% end %>