.content
  h1 New task on studying topic
  .form
    = simple_form_for [@project, @todo] do |f|
      .col-sm-12
        = f.input :name, label: false, placeholder: "Task"
      .col-sm-12.checkbox-wrapper
        span Finished?
        = f.check_box :finished, class: 'input-checkbox'
      .col-sm-12
        = f.button :submit, "Add task", class: 'button'
