<footer class="footer-7 text-center-xs  ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> Made by <a href="https://ildarsafin.tech" target="_blank">Ildar Safin</a></span>
            </div>
            <div class="col-md-6 text-right text-center-xs">
                <ul class="social-list list-inline">
                    <li>
                        <a href="https://github.com/ildarsafin" target="_blank">
                            <i class="socicon socicon-github icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ildaronrails" target="_blank">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/wsafild" target="_blank">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/ildar.safin" target="_blank">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
