<div class="bar bar--sm visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-2">
                <a href="/" style="text-decoration: none">
                    <h2>MyDay.<%= @app_title %></h2>
                </a>
            </div>
            <div class="col-5 col-md-10 text-right">
                <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                    <i class="icon icon--sm stack-interface stack-menu"></i>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</div>
