.container.finder-interface.resource-index
  .row.mb-5
    .col-md-10.offset-md-1
      .d-flex.justify-content-between.align-items-end.border-bottom.pb-3
        div
          h1.resource-index-title.display-4.font-weight-bold.mb-0 Materials
          p.text-muted.mb-0 Documentation and files for #{@project.title}
        - if current_user
          .btn-group
            = link_to new_project_material_path(@project, folder_id: @current_folder&.id), class: 'btn btn-primary rounded-pill-left px-4' do
              i.material-icons.align-middle.mr-1 description
              | New File
            = link_to new_folder_project_materials_path(@project, folder_id: @current_folder&.id), class: 'btn btn-outline-primary rounded-pill-right px-4' do
              i.material-icons.align-middle.mr-1 folder
              | New Folder

  - if @breadcrumbs.any? || @current_folder
    .row.mb-4
      .col-md-10.offset-md-1
        nav aria-label="breadcrumb"
          ol.breadcrumb.bg-light.rounded-pill.px-4
            li.breadcrumb-item
              = link_to project_materials_path(@project), class: 'text-decoration-none' do
                i.material-icons.align-middle.mr-1.font-size-sm home
                | Root
            - @breadcrumbs.each do |folder|
              li.breadcrumb-item
                = link_to project_materials_path(@project, folder_id: folder.id), class: 'text-decoration-none' do
                  = folder.title

  .row
    .col-md-10.offset-md-1
      - if @materials.empty?
        .text-center.py-5.bg-light.rounded-lg.shadow-sm
          i.material-icons.display-1.text-muted.mb-3 folder_open
          h3.text-secondary This folder is empty
          p.text-muted.mb-4 Add files or create folders to organize your materials.
          - if current_user
            .d-flex.justify-content-center.gap-2
              = link_to new_project_material_path(@project, folder_id: @current_folder&.id), class: 'btn btn-primary rounded-pill px-4' do
                | Add File
              = link_to new_folder_project_materials_path(@project, folder_id: @current_folder&.id), class: 'btn btn-outline-primary rounded-pill px-4' do
                | Create Folder
      - else
        .row
          - @materials.each do |material|
            .col-md-6.mb-4
              .card.h-100.border-0.shadow-sm.rounded-lg.resource-card-modern
                .card-body.p-4
                  .d-flex.align-items-start.mb-3
                    - if material.folder?
                      .bg-warning-light.rounded.p-3.mr-3
                        i.material-icons.text-warning folder
                    - else
                      .bg-primary-light.rounded.p-3.mr-3
                        i.material-icons.text-primary description
                    
                    .flex-grow-1
                      h4.h5.font-weight-bold.mb-1
                        - if material.folder?
                          = link_to material.title, project_materials_path(@project, folder_id: material.id), class: 'text-dark text-decoration-none hover-primary'
                        - else
                          = material.title
                      
                      - if material.short_description.present?
                        p.small.text-muted.mb-0 = truncate(material.short_description, length: 80)
                
                .card-footer.bg-white.border-0.px-4.pb-4.pt-0
                  .d-flex.justify-content-between.align-items-center
                    .actions
                      - if !material.folder? && material.file.attached?
                        = link_to material.file, class: 'btn btn-outline-success btn-sm rounded-pill px-3 mr-2', target: '_blank' do
                          i.material-icons.align-middle.mr-1.font-size-sm download
                          | Download
                      - elsif material.folder?
                        = link_to project_materials_path(@project, folder_id: material.id), class: 'btn btn-outline-primary btn-sm rounded-pill px-3' do
                          | Open Folder
                    
                    - if current_user
                      = link_to edit_project_material_path(@project, material), class: 'btn btn-link text-muted p-0', title: 'Edit' do
                        i.material-icons.align-middle edit
